.ui.container {
  overflow: auto;
  white-space: nowrap;
}

div.render > div > div {
  display: flex;
  flex-wrap: wrap;
}

div.descriptions {
  margin-left: 10px;
  margin-bottom: 20px;
}

div.ui.cards {
  margin: 15px;
  padding: 15px;
  width: 260px;
}
.ui.card {
  display: inline-block;
}

div.image {
  display: flex;
  justify-content: center;
}

div.ui.six.doubling.card {
  margin: 30px;
  width: 210px;
}
