div.tableDiv {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.ui.icon.message > .icon:not(.close) {
  opacity: 1;
}

div.header {
  text-align: initial;
}
.ui.icon.message {
  width: 50%;
  margin: 0 auto;
}
